<%= button_to "logout", destroy_user_session_path, method: :delete  %>
<%= javascript_include_tag "components/pages/Dashboard/index", "data-turbo-track": "reload", defer: true %>
<div id="dashboard"></div>